<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Angular Course</title>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/intro.js"></script>
    </head>
    <body>
        <div ng-controller="introCtrl">
            <h3>Using scope function</h3>
            <p>First name: {{firstName}}</p>
            <p>Last name: {{lastName}}</p>
            <input type="button" ng-click="setNameCtrl('Tam', 'Nguyen')" value="Set Name"/>
        </div>
        <div ng-controller="scopeCtrl">
            <h3>How to control scope</h3>
            Enter value 1: <input type="text" ng-model="value1"/>
            Enter value 2: <input type="text" ng-model="value2"/>
            <input type="button" ng-click="divide(value1, value2)" value="Divide"/>
            <p>Result of {{value1}}/{{value2}}: {{result}}</p>
        </div>
        <div>
            <h3>Dot notation</h3>
            <div ng-controller="parentCtrl">
                {{name.fName}}
                <div ng-controller="childCtrl">
                    {{name.fName}} <input type="text" ng-model="name.fName"/>
                </div>
            </div>
        </div>
    </body>
</html>